package components

import (
"github.com/livghit/templkit/components/button"
"github.com/livghit/iconstempl/icons/heroicons"	
)

templ Index() {
	@button.ButtonWithChildren() {
		<a>Click me</a>
   @heroicons.AdjustmentsVertical()

	}
}

