package components

type ButtonOptions struct{
 Class string
 Label string
 ID string
}

templ DefaultButton(o ButtonOptions) {
	if o.Class == "" {
		<a><button id={ o.ID }>Default</button></a>
	} else {
		<a><button class={ o.Class } id={ o.ID }>{ o.Label }</button></a>
	}
}

